.section{
  background: rgb(134,134,143);
  background: -webkit-linear-gradient(left, rgba(134,134,143,1) 0%, rgba(192,192,198,1) 35%, rgba(175,195,203,1) 100%);
  background: -o-linear-gradient(left, rgba(134,134,143,1) 0%, rgba(192,192,198,1) 35%, rgba(175,195,203,1) 100%);
  background: linear-gradient(to right, rgba(134,134,143,1) 0%, rgba(192,192,198,1) 35%, rgba(175,195,203,1) 100%);
}
.custom-select:focus{
  border: none;
}
.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}
